html {
  overflow-y: scroll;
}

* {
  font-family: "Open Sans", sans-serif, 'Arial';
}

body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dedede;
  background: white;
}

.content {
  padding: 75px 16px 16px;
}

h2 {
  margin: 15px 0;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #72abc8;
  color: white;
}

#products {
  padding-left: 5%;
  padding-right: 5%;
}
