* {
  font-family: "Open Sans", sans-serif, 'Arial';
}

table, th, td {
  border: 1px solid black;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #72abc8;
  color: white;
}

#products {
  padding-left: 5%;
  padding-right: 5%;
}
