html {
  overflow-y: scroll;
}

* {
  font-family: "Open Sans", sans-serif, 'Arial';
}

body {
  margin: 0;
  background-color: #F4F7F6;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dedede;
  background: #F4F7F6;
}

.content {
  padding-top: 64px;
}

h2 {
  margin: 15px 0;
}

#options {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #dedede;
}

.options-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #F4F7F6;
  white-space: nowrap;
}

li {
  margin-left: -4px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-left: 1px solid #dedede;
  height: 59px;
  box-sizing: border-box;
}

li:hover {
  background-color: white;
}

select {
  margin: 1px;
  background-color: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  -webkit-appearance: button;
}

#page-select {
  width: 41px;
}

#brand-select {
  width: 104px;
}

#indicators {
  padding-top: 58px;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #72abc8;
  color: white;
}

#products {
  padding-left: 5%;
  padding-right: 5%;
}
